@import "clearfix.less";


.grid {
  .clearfix();
  display: block;
  position: relative;
}

.create-grid-column(@name, @index) {
  .grid .grid-@{name}-@{index} {
    display: block;
    position: relative;
    width: ((@index / @grid-columns * 99.999) + 0%);
    margin: 0;
    padding: 0;
    float: left;
    min-height: 1px;
  }

  .grid .push-@{name}-@{index} {
    margin-left: ((@index / @grid-columns * 99.999) + 0%) * 1%;
  }

  .grid .pull-@{name}-@{index}{
    margin-left: ((@index / @grid-columns * 99.999) + 0%) * -1%;
  }
}

.create-grid(@name, @grid-columns, @min-width, @max-width) {
  @media (max-width: @max-width) and (min-width: @min-width) {
    .loop (@index) when (@index > 0) {
      .create-grid-column(@name, @index);
      .loop(@index - 1);
    }

    .loop(@grid-columns);
  }
}

.create-grid(@name, @grid-columns, @min-width) {
  @media (min-width: @min-width) {
    .loop (@index) when (@index > 0) {
      .create-grid-column(@name, @index);
      .loop(@index - 1);
    }

    .loop(@grid-columns);
  }
}
